In [2]:
Number = 10
xyxyxyxy= 25.36
num_two= 48

In [3]:
num1 = 15  #integer
num2 = 25.0 # float
word = 'python' # string   #FOUR TYPES OF DATA TYPE WE HAVE
X = True #booleans

In [4]:
print (num1)

15

In [6]:
# escape character \
word2 = 'we\'re brothers from the other town'
print (word2)

we're brothers from the other town

In [7]:
# new line\n
word3 = 'python is fun\nPython is easy\nPython is great'
print (word3)

python is fun
Python is easy
Python is great

In [1]:
# multiline string ''' ''' or """ """
word4 = '''python is fun
python is great
python is easy
python is fun
'''
print (word4)

python is fun
python is great
python is easy
python is fun

In [15]:
# string formatting
price1 = 8000
price2 = 15000
price3 = 6000
report = 'i sold 5 shirts for {}, 2 jacket for {} and a shoe for {}'
print (report.format(price2,price3,price1))

i sold 5 shirts for 15000, 2 jacket for 6000 and a shoe for 8000

In [17]:
print (f'i sold 5 shirts for {price1}, 2 jacket for {price3} and a shoe for {price2}')

i sold 5 shirts for 8000, 2 jacket for 6000 and a shoe for 15000

In [20]:
# string concatenation 
print ('hello' + ' world') #joining of string and string

hello world

In [21]:
name = 'Ade'
print('welcome to python class ' + name) #joining of string and variable holding string value#

welcome to python class Ade

In [22]:
# string method  #means function only applicable to string
print (word4. upper())

PYTHON IS FUN
PYTHON IS GREAT
PYTHON IS EASY
PYTHON IS FUN

In [23]:
print(word4.lower())

python is fun
python is great
python is easy
python is fun

In [24]:
print(word4.capitalize())

Python is fun
python is great
python is easy
python is fun

In [25]:
print(word4.title())

Python Is Fun
Python Is Great
Python Is Easy
Python Is Fun

In [26]:
print(word4.split())

['python', 'is', 'fun', 'python', 'is', 'great', 'python', 'is', 'easy', 'python', 'is', 'fun']

In [28]:
# data type conversion
number1 = int(45.58)     #FLOAT CAN BE CONVERTED TO INTEGER
print(number1)

45

In [29]:
print(float(number1))     #INTEGER CAN BE CONVERTED TO FLOAT

45.0

In [32]:
print(str(15))
print(str(45.23))  #INTEGER AND FLOAT CAN BE CONVERTED TO STRING

15
45.23

In [33]:
print (float('48')) #STRING CANNOT BE CONVERTED TO INTEGER OR FLOAT EXCEPT THE VALUE IS IN BASE 10

48.0

In [35]:
#input function 
name = input ('please enter your name:')

please enter your name:EUGENE

In [36]:
print(type(name))

<class 'str'>

In [37]:
age = int(input('please enter your age:'))

please enter your age:48